<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Dashboard Terrario</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
</head>

<body>

  <!-- TEMPERATURA E UMIDITà DEI DUE TERRARI -> 4 DATI -->
  <!-- INTENSITà LUMINOSA DEI DUE TERRARI -> 2 DATI -->

  <img class="image-bottom" src="{{ url_for('static',filename='bottom.png') }}" alt="">
  <div id="container">
    <div class="box">
      <div class="background">
        <div class="head">
          Terrario 1
        </div>
        <div class="charts">
          <div class="ciambella">
            <div class="score-chart"></div>
            <div class="wl">
              <div class="fill"></div>
            </div>
          </div>
          <div class="temperature-chart"></div>
        </div>
      </div>
      <div class="stats">
        <div class="stat">
          <div class="icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
              <path
                d="M480-100q-133 0-226.5-92T160-416q0-63 24.5-120.5T254-638l226-222 226 222q45 44 69.5 101.5T800-416q0 132-93.5 224T480-100ZM240-416h480q0-47-18-89.5T650-580L480-748 310-580q-34 32-52 74.5T240-416Z" />
            </svg>
          </div>
          <div class="value current-humidity">
            --
          </div>
          <small>Umidità</small>
        </div>
        <div class="stat">
          <div class="icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
              <path
                d="M480-80q-83 0-141.5-58.5T280-280q0-48 21-89.5t59-70.5v-320q0-50 35-85t85-35q50 0 85 35t35 85v320q38 29 59 70.5t21 89.5q0 83-58.5 141.5T480-80Zm-40-440h80v-40h-40v-40h40v-80h-40v-40h40v-40q0-17-11.5-28.5T480-800q-17 0-28.5 11.5T440-760v240Z" />
            </svg>
          </div>
          <div class="value current-temperature">
            --
          </div>
          <small>Temperatura</small>
        </div>
        <div class="stat">
          <div class="icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960"><path d="M460-160q-50 0-85-35t-35-85h80q0 17 11.5 28.5T460-240q17 0 28.5-11.5T500-280q0-17-11.5-28.5T460-320H80v-80h380q50 0 85 35t35 85q0 50-35 85t-85 35ZM80-560v-80h540q26 0 43-17t17-43q0-26-17-43t-43-17q-26 0-43 17t-17 43h-80q0-59 40.5-99.5T620-840q59 0 99.5 40.5T760-700q0 59-40.5 99.5T620-560H80Zm660 320v-80q26 0 43-17t17-43q0-26-17-43t-43-17H80v-80h660q59 0 99.5 40.5T880-380q0 59-40.5 99.5T740-240Z"/></svg>
          </div>
          <div class="value current-pressure">
            --
          </div>
          <small>Pressione</small>
        </div>
      </div>

    </div>
    <div class="box">
      <div class="background">
        <div class="head">
          Terrario 2
        </div>
        <div class="charts">
          <div class="ciambella">
            <div class="score-chart"></div>
            <div class="wl">
              <div class="fill"></div>
            </div>
          </div>
          <div class="temperature-chart"></div>
        </div>
      </div>
      <div class="stats">
        <div class="stat">
          <div class="icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
              <path
                d="M480-100q-133 0-226.5-92T160-416q0-63 24.5-120.5T254-638l226-222 226 222q45 44 69.5 101.5T800-416q0 132-93.5 224T480-100ZM240-416h480q0-47-18-89.5T650-580L480-748 310-580q-34 32-52 74.5T240-416Z" />
            </svg>
          </div>
          <div class="value current-humidity">
            --
          </div>
          <small>Umidità</small>
        </div>
        <div class="stat">
          <div class="icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
              <path
                d="M480-80q-83 0-141.5-58.5T280-280q0-48 21-89.5t59-70.5v-320q0-50 35-85t85-35q50 0 85 35t35 85v320q38 29 59 70.5t21 89.5q0 83-58.5 141.5T480-80Zm-40-440h80v-40h-40v-40h40v-80h-40v-40h40v-40q0-17-11.5-28.5T480-800q-17 0-28.5 11.5T440-760v240Z" />
            </svg>
          </div>
          <div class="value current-temperature">
            --
          </div>
          <small>Temperatura</small>
        </div>
        <div class="stat">
          <div class="icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960"><path d="M460-160q-50 0-85-35t-35-85h80q0 17 11.5 28.5T460-240q17 0 28.5-11.5T500-280q0-17-11.5-28.5T460-320H80v-80h380q50 0 85 35t35 85q0 50-35 85t-85 35ZM80-560v-80h540q26 0 43-17t17-43q0-26-17-43t-43-17q-26 0-43 17t-17 43h-80q0-59 40.5-99.5T620-840q59 0 99.5 40.5T760-700q0 59-40.5 99.5T620-560H80Zm660 320v-80q26 0 43-17t17-43q0-26-17-43t-43-17H80v-80h660q59 0 99.5 40.5T880-380q0 59-40.5 99.5T740-240Z"/></svg>
          </div>
          <div class="value current-pressure">
            --
          </div>
          <small>Pressione</small>
        </div>
      </div>

    </div>
  </div>


  <!-- <h1>Dashboard Terrario 🪴</h1>
  <div class="value">🌡️ Temperatura: <span id="temp">--</span> °C</div>
  <div class="value">💧 Umidità: <span id="hum">--</span> %</div>
  <div class="value">🌬️ Pressione: <span id="pres">--</span> hPa</div> -->


  <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
  <script type="module" src="{{ url_for('static',filename='index.js') }}"></script>
</body>

</html>